*{
    margin: 0; padding: 0;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.header
{
    position: fixed;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(26, 0, 78);
    padding: 0px 29px;
    z-index: 1;
}

.left-side
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fa-search
{
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.logo
{
    color: rgb(245, 237, 237);
    font-size: 17px;
    margin-right: 40px;
    padding: 10px;
}

.left-side::after
{
    position: relative;
    left: -63px;
    content: '';
    width: 50px; height: 0.7px;
    background-color: #fff;
    transform: rotate(90deg);
}


   /* hamburger menue */
.hamburger-menue
{
    position: relative;
    top: 0px; left: 0;
    width: 34px; height: 53px;
    margin: 10px 0;
    padding: 0 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgba(44, 28, 100, 0.75);
    border-radius: 0.75rem;
}

.hamburger-menue div
{
    display:block;
    width: 19px; height: 1.6px;
    background-color: rgb(250, 249, 249);
    border-radius: 20px;
}

.hamburger-menue div::before,
.hamburger-menue div::after
{
    content: '';
    position:relative;
    display: block;
    width: inherit; height: inherit;
    background-color: inherit;
    top: -6.3px;
}

.hamburger-menue div::after
{
    top: 5.2px;
}



 /* items of navbar */


.navbar
{
    display: none;
}

@media only screen  and (min-width: 768px) {
    .hamburger-menue
    {
        display: none;
    }

    .header
    {
        width: 95vw;
    }

    .logo
    {
        font-size: 20px;
    }

    .navbar
    {
        display: flex;
    }

    .items-of-navbar
    {
        display:flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        padding: 15px;
    }

    .items-of-navbar a
    {
        color: #fff;
        text-decoration: none;
        margin-left: 26px;
        font-weight: bold;
    }

    .items-of-navbar li:last-child::after
    {
        position: relative;
        top: 0; left: 0;
        content: "";
        background: url('./images/MRPoster.jpg');
        width: 40px; height: 40px;
        display: inline-block;
        background-position: center;
        background-size: contain;
        border-radius: 100px;
        vertical-align: middle;
        margin-left: 34px;
    }

    .navbar::before
    {
        content: "";
        position: absolute;
        top: 35px; right: 148px;
        width: 50px; height: 1px;
        background-color: #fff;
        transform: rotate(90deg);
    }
}



/* slide show */

.slide-show
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    top: 70px;
    width: 100%; height: 700px;
    background-color: rgba(85, 0, 255, 0.487);
    color: #fff;
    line-height: 2rem;
}

.slide-show::after
{
    content: "";
    position: absolute;
    top: 0px; left: 0;
    width: 100%; height: 100%;
    background: url('./images/sidorova-alice-UTVqj0z93ks-unsplash.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.slide-show h1
{
    display: none;
}


@media only screen and (min-width:768px)
{
    
    .slide-show h1
    {
        display: block;
        position: absolute;
        top: 200px; left: 190px;
        font-size: 3rem;
        margin-top: 40px;
    }

}



/* main body */


.main-body
{
    width: 96vw; height: 600px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
    overflow: hidden;
}

.container-album
{
    display: flex;
    height: 420px;
    width: 100vw;
    overflow: auto;
    padding: 30px 90px;
    background: #fff;
    border-radius: 0px;
}

.itmes-of-albums img
{
    width: 200px; height: 150px;
}

.itmes-of-albums
{
    min-width: 240px; min-height: 350px;
    border-radius: 16px;
    padding: 1.6rem;
    background: linear-gradient(85deg,#434343,#262626);
    box-shadow: -3rem 0 3rem -2rem #000;
    transition: transform 0.2s ease;
}

.itmes-of-albums h1, .itmes-of-albums p
{
    color: #fff;
}

.itmes-of-albums h1
{
    font-size: 20px;
    margin: 20px 0;
}

.itmes-of-albums p
{
    font-size: 12px;
    margin: 40px 0;
}

.itmes-of-albums:not(:first-child)
{
    margin-left: -40px;
}

.itmes-of-albums:hover
{
    transform: translate(-02rem,-1rem) rotate(3deg);
}

.itmes-of-albums:hover ~ .itmes-of-albums
{
    transform: translateX(30px);
}

.container-album::-webkit-scrollbar {
    width: 10px;
    height: 13px;
}

.container-album::-webkit-scrollbar-thumb
{
    background: #434343;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsl(0deg 0% 100% / 25%), inset -2px -2px 2px rgb(0 0 0 / 25%);
}

.container-album::-webkit-scrollbar-track
{
    background: linear-gradient( 90deg,#f3f0f0,#e6e3e3 1px,#f5f0f0 0,#969494);

}